/* Estilos de nuestro documento HTML */

h1 {
	color: indigo;
	border: solid;
	text-align: center;
	font-size: 40px;
]



	

p {
	color: red;
	font-size: 25px;
}
	 
body{ background-color: PeachPuff; font-family: Helvetica;}

h1 {color: blue;}
